<div id="convert"> 

<div fxLayout="row wrap" class="form-group">
  <div fxFlex.gt-sm="100" class="divide">
    <mat-card>
      <mat-card-title>Configuração</mat-card-title>

      <a mat-raised-button color="accent" routerLink="/configuracao/add" >
        <mat-icon>add</mat-icon>
      </a>
      
      <a mat-raised-button color="accent" (click)="print()" > 
        <mat-icon>print</mat-icon>
      </a>
      
      <a mat-raised-button color="accent" (click)="screenshot()" > 
        <mat-icon>photo_camera</mat-icon>
      </a>
            
    <mat-card-content>
    <div class="table-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

	<mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

	    <!-- ID Column -->
	    <ng-container matColumnDef="nomeEmpresa">
	      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome Empresa</mat-header-cell>
	      <mat-cell *matCellDef="let row" >{{row.nomeEmpresa}}</mat-cell>
	    </ng-container>
	    <!-- ID Column -->
	    <ng-container matColumnDef="siteEmpresa">
	      <mat-header-cell *matHeaderCellDef mat-sort-header>Site Empresa</mat-header-cell>
	      <mat-cell *matCellDef="let row" >{{row.siteEmpresa}}</mat-cell>
	    </ng-container>
	    <!-- ID Column -->
	    <ng-container matColumnDef="emailEmpresa">
	      <mat-header-cell *matHeaderCellDef mat-sort-header>Email Empresa</mat-header-cell>
	      <mat-cell *matCellDef="let row" >{{row.emailEmpresa}}</mat-cell>
	    </ng-container>
	    <!-- ID Column -->
	    <ng-container matColumnDef="outputDirectory">
	      <mat-header-cell *matHeaderCellDef mat-sort-header>Output Directory</mat-header-cell>
	      <mat-cell *matCellDef="let row" >{{row.outputDirectory}}</mat-cell>
	    </ng-container>
	    <!-- ID Column -->
	    <ng-container matColumnDef="appProperties">
	      <mat-header-cell *matHeaderCellDef mat-sort-header>Application Properties</mat-header-cell>
	      <mat-cell *matCellDef="let row" >{{row.appProperties}}</mat-cell>
	    </ng-container>
  
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef >Actions</mat-header-cell>
      <mat-cell *matCellDef="let row"  >
 
        <button mat-mini-fab color="primary"routerLink="/configuracao/edit/{{row.id}}">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button  mat-mini-fab   (click)="deleteItem(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


 <!-- <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
      No results
  </div> -->

 
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</mat-card-content>
</mat-card>
</div>
</div>
 
</div>