<div fxLayout="row wrap" class="form-group">
    <div fxFlex.gt-sm="100">
      <mat-card>
        
        <mat-card-title>{{title}}</mat-card-title>
        <a mat-raised-button color="accent"  routerLink="/user" >
          <mat-icon>chevron_left</mat-icon>
        </a>
        
        <mat-card-content>

            <br/>
            <h2>Fazer upload foto do usuário:</h2>

            <app-file-upload [text]="labelUploadButtom"  [target]="target" (complete)="onFileComplete($event)"></app-file-upload> 


        </mat-card-content>

      </mat-card>
      </div>
  </div>
