<div fxLayout="row wrap" class="form-group">
    <div fxFlex.lt-sm="100">
      <mat-card>
        
        <mat-card-title>{{title}}</mat-card-title>
        <a mat-raised-button color="accent"  routerLink="/projeto" >
          <mat-icon>chevron_left</mat-icon>
        </a>
        <button mat-raised-button color="accent" (click)="onSubmit($event)"><mat-icon>save</mat-icon></button>
        <button mat-raised-button color="accent" (click)="options.resetModel()"><mat-icon>clear</mat-icon></button>
        <br>
        
        <mat-card-content>

        <form [formGroup]="form" (ngSubmit)="onSubmit(model)" >
          <formly-form
            [form]="form"
            [options]="options"
            [fields]="fields"
            [model]="model">
          </formly-form>
        </form>

  </mat-card-content>
  </mat-card>
  </div>
  </div>
