<mat-sidenav-container [class.dark-theme]="isToggledTheme"  >
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">

    <mat-toolbar color="primary" class="mat-elevation-z6" style="height:56px;"  >

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="./../../../assets/images/logo.svg" style="width: 20px; padding-right: 5px" /> ngx-builder

    </mat-toolbar>

    <mat-nav-list>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/home']" >Home</a>
            <a mat-list-item  (click)="toggle()" [routerLink]="['/portal']" >Portais</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/projeto']" >Projetos</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/artefato']" >Artefatos</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/elemento']" >Elementos</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/configuracao']" >Configuração</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/buildapp']" >Gerar App!</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/user']" *ngIf="isAdmin()" >Usuários</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/profile']" >Meu Perfil</a>
        <a mat-list-item  (click)="theme()" >Tema</a>
        <a mat-list-item  (click)="toggle()" [routerLink]="['/sobre']" >Sobre</a>
        <a mat-list-item  (click)="logout()" >Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content  >
    <mat-toolbar color="primary" class="fixed-header mat-elevation-z6" style="height:56px;" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
       >
       <!-- PQ *ngIf="(isHandset | async)!.matches" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="./../../../assets/images/logo.svg" style="width: 20px; padding-right: 5px" /> ngx-builder

    </mat-toolbar>

    <div class="inner-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
